.token.keyword,
.token.boolean,
.token.number {
  font-weight: bold;
}

.token.string {
  font-style: italic;
}

.token.punctuation,
.token.function {
  color: white;
}

.token.comment {
  color: #ffeb3b;
  font-style: italic;
}
