* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 1.25;
}

body {
  background-color: #fafafa;
}

button {
  color: inherit;
}

pre {
  margin: 0;
}

pre code {
  box-sizing: content-box;
  overflow-x: auto;
  display: block;
  padding: 15px;
  margin: 0 -15px;
  width: 100%;
  background-color: #222;
  color: rgba(255, 255, 255, 0.87);
}

a {
  color: inherit;
}

h2 {
  padding: 0 15px;
  font-size: 2.5rem;
  margin-top: 60px;
}

.navbar {
  padding: 15px;
  text-align: right;
  margin-bottom: 60px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    margin-bottom: 40px;
  }
}

.navbar__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.navbar__links li {
  display: inline;
}

.navbar__link {
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.1rem;
}

.header-title,
.documentation-header {
  text-align: center;
  margin: 0;
}

.header-title__name,
.documentation-header__title {
  display: block;
  font-size: 5rem;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .header-title__name,
  .documentation-header__title {
    font-size: 3rem;
  }
}

.header-title__subtitle,
.documentation-header__subtitle {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
}

.install {
  max-width: 420px;
  margin: 60px auto 0 auto;
  padding: 15px;
}

@media only screen and (max-width: 500px) {
  .install {
    margin-top: 30px;
  }
}

.install__buttons {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.install__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.install__button--active {
  font-weight: bold;
}

.install__code {
  display: none;
  margin-top: 1rem;
}

.install__code--active {
  display: block;
}

.description {
  max-width: 800px;
  margin: 40px auto 0 auto;
  padding: 15px;
}

@media only screen and (max-width: 500px) {
  .description {
    margin: 0 auto;
  }
}

.description__text {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

.footer {
  text-align: center;
  margin: 60px 0;
}

/* DOCUMENTATION */

.documentation {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.documentation h1 {
  font-size: 3rem;
  text-align: center;
}

.documentation h3 {
  margin-top: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 500px) {
  .documentation h3 {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    box-sizing: content-box;
    margin: 0 -15px;
    padding: 0 15px;
    font-size: 1.3rem;
    white-space: pre;
  }
}

.docitem,
.feature {
  position: relative;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}

.docitem + .docitem::before,
.feature + .feature::before {
  content: "***";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FEATURES */

.features {
  max-width: 800px;
  margin: 40px auto 0 auto;
}

@media only screen and (max-width: 500px) {
  .features h2 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .features {
    margin: 0 auto;
  }
}

.feature__description {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

@media only screen and (min-width: 800px) {
  .feature {
    display: flex;
    margin-top: 2rem;
    padding: 0 15px;
  }

  .feature pre code {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .feature:nth-child(3) {
    flex-direction: row-reverse;
  }

  .feature:nth-child(3) pre code {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .feature__description {
    margin-top: 2rem;
  }

  .feature__description {
    margin-right: 15px;
    padding-right: 15px;
  }

  .feature:nth-child(3) .feature__description {
    margin-right: 0;
    padding-right: 0;
    margin-left: 15px;
    padding-left: 15px;
  }
}
