html {
  font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 1.25;
}

body {
  background-color: #ffeb3b;
}

button {
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: rgba(255, 82, 82, 0.99);
  color: rgba(255, 255, 255, 0.87);
}

::-webkit-selection {
  background-color: rgba(255, 82, 82, 0.99);
  color: rgba(255, 255, 255, 0.87);
}

::selection {
  background-color: rgba(255, 82, 82, 0.99);
  color: rgba(255, 255, 255, 0.87);
}

pre code {
  overflow-x: auto;
  display: block;
  padding: 15px;
  margin: 0 -15px;
  width: 100%;
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

a {
  color: inherit;
}

.navbar {
  padding: 15px;
  text-align: right;
  margin-bottom: 60px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    margin-bottom: 40px;
  }
}

.navbar__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.navbar__links li {
  display: inline;
}

.navbar__link {
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.1rem;
}

.header-title,
.documentation-header {
  text-align: center;
  margin: 0;
}

.header-title__name,
.documentation-header__title {
  display: block;
  font-size: 5rem;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .header-title__name,
  .documentation-header__title {
    font-size: 3rem;
  }
}

.header-title__subtitle,
.documentation-header__subtitle {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
}

.install {
  max-width: 400px;
  margin: 60px auto 0 auto;
  padding: 15px;
}

@media only screen and (max-width: 500px) {
  .install {
    margin-top: 30px;
  }
}

.install__buttons {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.install__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.install__button--active {
  font-weight: bold;
}

.install__code {
  display: none;
}

.install__code--active {
  display: block;
}

.description {
  max-width: 800px;
  margin: 40px auto 0 auto;
  padding: 15px;
}

@media only screen and (max-width: 500px) {
  .description {
    margin: 0 auto;
  }
}

.description__text {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

.features {
  max-width: 800px;
  margin: 40px auto 0 auto;
  padding: 15px;
}

@media only screen and (max-width: 500px) {
  .features {
    margin: 0 auto;
  }
}

.feature__description {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}

@media only screen and (min-width: 800px) {
  .feature {
    display: flex;
  }

  .feature:nth-child(3) {
    flex-direction: row-reverse;
  }

  .feature__description {
    margin-top: 3rem;
    line-height: 1.6;
  }

  .feature__description {
    margin-right: 15px;
    padding-right: 15px;
  }

  .feature:nth-child(3) .feature__description {
    margin-right: 0;
    padding-right: 0;
    margin-left: 15px;
    padding-left: 15px;
  }
}

.documentation {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px 15px 15px;
}

.documentation h1 {
  font-size: 3rem;
  text-align: center;
}

.documentation h2 {
  font-size: 2.5rem;
  margin-top: 60px;
}

.documentation h3 {
  margin-top: 60px;
  overflow-x: auto;
  font-size: 1.8rem;
}

.documentation h3 code {
  color: #3f51b5;
}

@media only screen and (max-width: 500px) {
  .documentation h3 {
    font-size: 1.2rem;
  }
}

.footer {
  text-align: center;
  margin: 60px 0;
}
