<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Piotr Szlachciak">
  <meta name="description" content="Veryfine that your code works. A delightful expect-style assertion and mocking library">
  <meta name="keywords" content="javascript,library,testing,tdd,mocha">
  <title><%= title ? `${title} :: Verifine` : 'Verifine' %></title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/styles/normalize.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/prism.css" />
</head>
<body>
